.dropdown-container {
  border-style: solid;
  width: 40%;
  margin: auto;
}

.dropdown-container:hover {
  background-color: rgba(0, 0, 255, 0.623);
}

.dropdown-container:onclick {
  background-color: rgb(3, 3, 145) (0, 0, 255, 0.678);
}
