.dropdown-container {
  border-style: solid;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.dropdown-container:hover {
  background-color: rgba(0, 0, 255, 0.349);
}

.dropdown-container:onclick {
  background-color: rgba(3, 3, 145, 0.356) (0, 0, 255, 0.678);
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  display: block;
  width: 100%;
}

.dropdown-button:hover {
  background-color: rgba(6, 6, 97, 0.466);
}

.link:hover {
  background-color: rgba(5, 5, 104, 0.521);
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

/* Below this point is the image carousel exercise's CSS */

.gallery-container {
  width: 800px;
  height: 500px;
  margin: auto;
  border-style: solid;
  position: relative;
}

.gallery {
  height: 500px;
  width: 5600px;
  display: flex;
  flex-direction: row;
  /* border-style: solid;
  position: relative; */
}

img {
  width: 800px;

  display: flex;
  flex-direction: row;
}

#position-1 {
  position: absolute;
  top: 0px;
  left: 0px;
}

#position-2 {
  position: absolute;
  top: 0px;
  left: -800px;
}
#position-3 {
  position: absolute;
  top: 0px;
  left: -1600px;
}
#position-4 {
  position: absolute;
  top: 0px;
  left: -2400px;
}
#position-5 {
  position: absolute;
  top: 0px;
  left: -3200px;
}
#position-6 {
  position: absolute;
  top: 0px;
  left: -4000px;
}
#position-7 {
  position: absolute;
  top: 0px;
  left: -4800px;
}

.left {
  position: absolute;
  top: 250px;
  left: 10px;
  color: aliceblue;
}
.right {
  position: absolute;
  top: 250px;
  right: 10px;
  color: aliceblue;
}

.navigation-dot-container {
  width: 200px;
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 300px;
  color: aliceblue;
}

.navigation-dot {
  text-align: center;
  gap: 15px;
  flex-grow: 1;
  border-style: solid;
  border-color: white;
}
